h2 {

    font-family: "Lato";
    font-style: 'bold';
    color:rgb(255, 255, 255);
    font-size: 36px;
    /* position: relative; */
    /* align-content: center; */
    justify-content: center;


}