

@font-face {
    font-family: 'inter'; /*a name to be used later*/
    src: url('comp-resources/basicsanssf.ttf'); /*URL to font*/
  }


h2 {

    font-family: "inter";
    color:rgb(255, 255, 255);
    font-size: 36px;
    justify-content: center;


}


img {
    background-color:rgb(255, 255, 255);
   


}